@using BA.UI.WebV2.Extension

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Billing Approval</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/vendor.min.css" />
        <script src="~/vendor.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/vendor.min.js"></script>
        <link rel="stylesheet" href="~/vendor.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="../../index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>B</b>A</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Billing</b> APPROVAL </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 1 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-info-circle text-aqua"></i><small>To clear browser's cache hit <mark>CTRL + F5</mark></small>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/user.png" class="user-image" alt="User Image">

                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/user.png" class="img-circle" alt="User Image">

                                    <p>
                                        @User.Identity.Name
                                        <small>@User.Identity.GetEmployeeNumber()</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    @*<div class="row">
                                           <div class="col-xs-4 text-center">
                                               <a href="#"></a>
                                           </div>
                                           <div class="col-xs-4 text-center">
                                               <a href="#">Sales</a>
                                           </div>
                                           <div class="col-xs-4 text-center">
                                               <a href="#">Friends</a>
                                           </div>
                                       </div>
                                    //row here*@
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a asp-action="logout" asp-controller="Account" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <form action="#" class="sidebar-form">
                    <div class="input-group">
                        <input id="sidebar-search" type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header text-teal">MAIN NAVIGATION</li>
                    <li class="treeview active staticmenu">
                        <a href="#" data-url="/home">
                            <i class="fa fa-home text-aqua"></i> <span>Home</span>
                        </a>
                    </li>

                    @await Component.InvokeAsync("Menu")

                    <li class="bg-green">
                        <a href="/hislogin">
                            <i class="fa fa-star-o" style="color: rgb(255, 255, 255);"></i><span style="color: rgb(255, 255, 255);">HIS Applications</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:base.SetStation()">
                            <i class="glyphicon glyphicon-map-marker text-bold text-green"></i><span style="color: rgb(255, 255, 255);">Set Station</span>
                        </a>
                    </li>

                    <li class="treeview ">
                        <a asp-controller="account" asp-action="logout">
                            <i class="glyphicon glyphicon-off text-red"></i> <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div id="renderbodycontent" class="content-wrapper" style="min-height: 600px;">
            @RenderBody()
        </div>
        <input id="baseinput" class="hidden" data-apprelativepath="@Url.Content("~")" />
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <i class="glyphicon glyphicon-map-marker text-gray-darker"></i>
            <strong class="text-gray-darker">Station : </strong><span id="stationfooter">Not Set</span>
            <strong style="margin-left:20px;" class="text-gray-darker">IP Address : </strong>@User.Identity.GetIpAddress()
        </footer>


        <div class="control-sidebar-bg"></div>
    </div>

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        @*<script src="~/livereload.js?snipver=1" async="" defer=""></script>*@
    </environment>
    <environment exclude="Development">
    </environment>
    
    @RenderSection("Scripts", required: false)

</body>
</html>
